<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <ul class="navbar-nav">
      <li class="nav-item active">
       <a class="nav-link" href="<%= posts_path %>">Статьи</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">Контакты</a>
      </li
     </ul>
     <%= link_to 'Новая статья', new_post_path, class: 'btn btn-outline-success float-right' %>
    </nav>
   </div>    
   
   <div class="container">
    <%= yield %>
   </div>

  </body>
</html>
